<div style="background-color:rgba(0,0,0,0.85); height:93vh;">
  <div class="row">
    <div class="col l6">
      <div class="card-panel" style="height:85vh; padding:0;">  
        <nav class="red darken-3">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center white-text" style="display:inline-block;">Cost</a>
          </div>
        </nav>    
        <div style="height:33.33vh; margin-bottom:0;" class="red row" id="cost-info">
          <div class="col l3">
            <h5>{{totalCost}}</h5>
          </div>
          <div class="col l9"></div>
        </div>
        <nav class="transparent grey darken-3">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center white-text">Waste</a>
          </div>
        </nav>  
        <div class="grey row" style="height:33.33vh; margin-bottom:0;" id="weight-info">
          <div class="col l3">
            <h5>{{totalWeight}}</h5>
          </div>
          <div class="col l9"></div>
        </div>
      </div>
    </div>
    <div class="col l3">
      <div class="card-panel" style="height:85vh; padding:0;">
        <nav class="transparent">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center black-text">Breakdown</a>
          </div>
        </nav> 
        <div id="items" style="padding:10px; height:73vh; overflow:scroll;">
          {{#each items}}
          <div class="card-panel">
            <div class="row">
              <div class="col l6">{{type.name}}</div>
              <div class="col l3">${{cost}}</div>
              <div class="col l3">{{weight}} oz</div>
            </div>
          </div>
          {{/each}}
        </div> 
      </div>
    </div>
    <div class="col l3">
      <div class="card-panel" style="height:41.5vh; padding:0;">
        <nav class="transparent">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center black-text">Time</a>
          </div>
        </nav>  
      </div>
      <div class="card-panel" style="height:41.5vh; padding:0;">
        <nav class="transparent">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center black-text">Logo</a>
          </div>
        </nav>  
      </div>
    </div>
  </div>
</div>