<!-- TODO -->
<!-- Needs form validation, both inputs must be required -->

<div class='menu-page' style="height:91vh; background-color:rgba(0,0,0,0.85);">
  <div class="menu-container">
    <div class="menu-form card-panel" style="height:80vh">
      <h3>Add new item to menu</h3>
      <form id="add-menu-item-form" action="" method="post">
        <div>
          <label for="">Name</label>
          <input id="form-item-name" type="text" name="name" value="" >
        </div>
        <div class="">
          <label for="">Purchase Price</label>
          <input id="form-item-cost" type="number" min="0" name="" value="">
        </div>
        <div class="">
          <div style="display:flex;justify-content:space-evenly;">
            <input type="radio" id="unitChoice1" name="unit" value="lbs">
            <label for="unitChoice1">/pound</label>

            <input type="radio" id="unitChoice2" name="unit" value="oz">
            <label for="unitChoice2">/ounce</label>
          </div>
        </div>
        <div class="">
          <input class="btn btn-large" style="width:100%;margin-bottom:10px;margin-top:10px" type="submit" name="" value="Submit">
          <a href="" id="complete-btn" class="btn btn-large green darken-2" style="width:100%;">Save Menu</a>
        </div>

      </form>
    </div>

    <div class="menu-list card-panel" style="height:80vh">
      <h3>Current Menu</h3>
      <div id="item-container" style="height:80%;overflow:scroll">
        <ul id="item-list">
          {{#each menuItems}}
            <li>
              <div class="menu-card">
                <span style="padding-top:15px;">
                  <input id="list-item-name" type="text" itemId="{{id}}" value="{{name}}" style="width:130px;text-transform:uppercase"/>
                  $<input id="list-item-cost" type="number" min="0" itemId="{{id}}" value="{{cost}}" style="width:50px;text-align:center"/>/ lb

                </span>
                <i class="material-icons delete-icon" itemId="{{id}}">clear</i>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  var servername = 'http://localhost:3000';
  var newItems = [];
  var index = 0;
  document.addEventListener('DOMContentLoaded', function(){
    document.getElementById('add-menu-item-form').addEventListener('submit', handleAddItem);
    document.getElementById('complete-btn').addEventListener('click', handleMenuItemForm);

    document.querySelectorAll('.delete-icon').forEach(icon => {
     icon.addEventListener('click', handleItemDelete)
    });

   document.querySelectorAll('#list-item-name').forEach(item => {
     item.addEventListener('focusout', handleNameUpdate)
    })

    document.querySelectorAll('#list-item-cost').forEach(item => {
      item.addEventListener('focusout', handleCostUpdate)
    })
  })


  function handleAddItem(e){
    e.preventDefault()
    var name = document.getElementById('form-item-name').value;
    var cost = document.getElementById('form-item-cost').value;

    $('#item-list').prepend(`
      <li id="${index}">
        <div class="menu-card">
          <span style="padding-top:15px;">
            <input id="list-item-name"  type="text" value="${name}" class="name-${index}" onfocusout="handleEditName(${index})" style="width:120px;text-transform:uppercase"/>
            $ <input id="list-item-cost" type="number" min="0" value="${cost}" class="cost-${index}" onfocusout="handleEditCost(${index})" style="width:30px;text-align:center"/> / lb
          </span>
          <i class="material-icons delete-icon" onclick="handleNewItemDelete(${index})">clear</i>
        </div>
      </li>
      `)


      newItems.push({'name': name, 'cost': cost});
      index+=1

      document.getElementById('form-item-name').value = '';
      document.getElementById('form-item-cost').value = '';

      $('#unitChoice1').prop('checked', false);
      $('#unitChoice2').prop('checked', false);
  }

  function handleEditName(index) {
    var item = document.querySelector(`.name-${index}`)
    newItems[index].name = item.value;
    console.log(newItems);
  }

  function handleEditCost(index) {
    var item = document.querySelector(`.cost-${index}`)
    newItems[index].cost = item.value;
    console.log(newItems);
  }

  function handleNewItemDelete(index) {
    newItems.splice(index, 1)
    $('#'+index).remove();
  }

  function handleMenuItemForm(evt) {
    evt.preventDefault();

    var req = new XMLHttpRequest();
    req.open('POST', servername+'/api/create-menu-item', true);
    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    req.send('items='+JSON.stringify(newItems));

  }
  //
  function handleItemDelete(){
    var itemId = this.getAttribute('itemId');
    $.ajax({
      url: `${servername}/api/create-menu-item/${itemId}`,
      type: 'DELETE',
      success: function(result) {
        console.log('successfully deleted')
      }
    })
    this.parentNode.parentNode.style.display = 'none'
  }
  //
  function handleNameUpdate(itemId, itemName) {
    var newData = {}
    newData.name = this.value
    var itemId = this.getAttribute('itemId')

    axios.put(
      `${servername}/api/create-menu-item/${itemId}`,
      newData
    ).then(res => {
      console.log(res);
    }).catch(err => {
      console.log(err);
    })
  }
  //
  function handleCostUpdate() {
    var newData = {}
    newData.cost = this.value
    var itemId = this.getAttribute('itemId')

    axios.put(
      `${servername}/api/create-menu-item/${itemId}`,
      newData
    ).then(res => {
      console.log(res);
    }).catch(err => {
      console.log(err);
    })
  }

</script>
