<!-- TODO -->
<!-- Needs form validation, both inputs must be required -->

<div class='menu-page' style="height:91vh; background-color:rgba(0,0,0,0.85);">
  <div class="menu-container">
    <div class="menu-form card-panel" style="height:80vh">
      <h3>Add new item to menu</h3>
      <form id="add-menu-item-form" action="" method="post">
        <div>
          <label for="">Name</label>
          <input id="form-item-name" type="text" name="name" value="">
        </div>
        <div class="">
          <label for="">Purchase Price</label>
          <input id="item-cost" type="number" min="0" name="" value="">
        </div>
        <div class="">
          <div style="display:flex;justify-content:space-evenly;">
            <input type="radio" id="unitChoice1" name="unit" value="lbs">
            <label for="unitChoice1">/pound</label>

            <input type="radio" id="unitChoice2" name="unit" value="oz">
            <label for="unitChoice2">/ounce</label>
          </div>
        </div>
        <input class="btn btn-large" style="width:100%;" type="submit" name="" value="Submit">
      </form>
    </div>

    <div class="menu-list card-panel" style="height:80vh">
      <h3>Current Menu</h3>
      <div id="item-container" style="height:80%;overflow:scroll">
        <ul id="item-list">
          {{#each menuItems}}
            <li>
              <div class="menu-card">
                <span style="padding-top:15px;">
                  <input id="list-item-name" type="text" itemId="{{id}}" value="{{name}}" style="width:120px;text-transform:uppercase"/>
                  $ <input id="list-item-cost" type="number" min="0" itemId="{{id}}" value="{{cost}}" style="width:30px;text-align:center"/> / lb

                </span>
                <i class="material-icons delete-icon" itemId="{{id}}">clear</i>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  var servername = 'http://localhost:3000';
  document.addEventListener('DOMContentLoaded', function(){
    document.getElementById('add-menu-item-form').addEventListener('submit', handleMenuItemForm);

    document.querySelectorAll('.delete-icon').forEach(icon => {
     icon.addEventListener('click', handleItemDelete)
    });

   document.querySelectorAll('#list-item-name').forEach(item => {
     item.onkeypress = function(e) {
       var event = e || window.event;
        var keyCode = event.keyCode || event.which;
        if (keyCode == '13'){
          // Enter pressed
          var itemName = this.value
          var itemId = this.getAttribute('itemId')
          handleNameUpdate(itemId, itemName)
          return false;
        }
      }
    })

    document.querySelectorAll('#list-item-cost').forEach(item => {
      item.onkeypress = function(e) {
        var event = e || window.event;
         var keyCode = event.keyCode || event.which;
         if (keyCode == '13'){
           // Enter pressed
           var itemCost = this.value
           var itemId = this.getAttribute('itemId')
           handleCostUpdate(itemId, itemCost)
           return false;
         }
      }
    })

  })

  function handleMenuItemForm(evt) {
    evt.preventDefault();

    var name = document.getElementById('form-item-name').value;
    var cost = document.getElementById('form-item-cost').value;
    console.log(name + cost);

    $('#item-list').prepend(`<li>
      <div class="menu-card">
        <span style="padding-top:15px;">
          <input id="list-item-name" type="text" value="${name}" style="width:120px;text-transform:uppercase"/>
          $ <input id="list-item-cost" type="number" min="0" value="${cost}" style="width:30px;text-align:center"/> / lb
        </span>
        <i class="material-icons delete-icon">clear</i>
      </div>
    </li>`)

    var req = new XMLHttpRequest();
    req.open('POST', servername+'/api/create-menu-item', true);
    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    req.send('name='+name+'&cost='+cost);

    document.getElementById('form-item-name').value = '';
    document.getElementById('form-item-cost').value = '';

    $('#unitChoice1').prop('checked', false);
    $('#unitChoice2').prop('checked', false);
  }
  //
  function handleItemDelete(){
    var itemId = this.getAttribute('itemId');
    $.ajax({
      url: `${servername}/api/create-menu-item/${itemId}`,
      type: 'DELETE',
      success: function(result) {
        console.log('successfully deleted')
      }
    })
    this.parentNode.style.display = 'none'
  }
  //
  function handleNameUpdate(itemId, itemName) {
    var newData = {}
    newData.name = itemName

    axios.put(
      `${servername}/api/create-menu-item/${itemId}`,
      newData
    ).then(res => {
      console.log(res);
    }).catch(err => {
      console.log(err);
    })
  }
  //
  function handleCostUpdate(itemId, itemCost) {
    var newData = {}
    newData.cost = Number(itemCost)

    axios.put(
      `${servername}/api/create-menu-item/${itemId}`,
      newData
    ).then(res => {
      console.log(res);
    }).catch(err => {
      console.log(err);
    })
  }

</script>
